{{ define "photo_upload_modal" }}

<div class="modal fade" id="addPhotoModal" tabindex="-1" aria-labelledby="addPhotoModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPhotoModalLabel">Upload Photo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="photo-upload-form" enctype="multipart/form-data" action="{{ .AddPhotoUploadAction }}" method="post">
          <div class="form-group mt-2">
            <label for="file">Select file</label>
            <input type="file" class="form-control-file" id="file" name="file">
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
          </div>
          <input type="submit" multiple accept="image/*" class="btn btn-primary mt-2" value="Upload" />
          <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="photoProgressModal" tabindex="-1" aria-labelledby="photoProgressModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="photoProgressModalLabel">Processing Photo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="1"
            aria-valuemin="1" aria-valuemax="100" style="width: 1%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}