{{define "title"}}Login{{end}}

{{define "content"}}

<div class="row g-0 vh-100">
    <div class="col d-none d-md-flex bg-image-palm"></div>
    <div class="col d-flex flex-column align-items-center justify-content-center">
        <img class="align-self-center" src="../assets/images/gophoto.png" height="200" alt="gophoto">
        <div class="container w-75 mt-5">
            <h1>Login</h1>
            <form action="/login" method="post">
                {{ with .Form.Errors.Email }}
                <p class="text-danger p-3">{{ . }}</p>
                {{ end }}
                <label for="email">Email address</label>
                <input name="email" type="email" id="email" placeholder="Enter email" value="{{ .Form.Email }}"
                    class="form-control form-control-lg focus-ring focus-ring-light mb-2">
                {{ with .Form.Errors.Password }}
                <p class="text-danger p-3">{{ . }}</p>
                {{ end }}
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Password" value="{{ .Form.Password }}"
                    class="form-control form-control-lg focus-ring focus-ring-light mb-2">
                <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <p class="mt-2">Don't have an account? <a href="/signup">Sign up</a></p>
        </div>
    </div>
</div>

{{end}}