.bg-image-palm {
    background: url('../images/palm.png') no-repeat center center / cover;
}

.bg-image-rock {
    background: url('../images/rock.png') no-repeat center center / cover;
}

.img-account-profile {
    height: 12rem;
    width: 12rem;
}

.toast-body {
    font-size: 1.15rem;
}
