{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Go Photo Album App{{end}}</title>
    <link rel="stylesheet" href="{{.AssetBaseURL}}/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{.AssetBaseURL}}/dist/css/styles.css">
</head>

<body>
    <div class="container-fluid p-0">

        {{ with .Flash }}
        <div class="toast-container position-absolute bottom-0 end-0 p-3">
            <div id="toast" class="toast align-items-center bg-{{ .Level }}-subtle border-{{ .Level }}" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ .Message }}
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{ end }}

        {{template "content" .}}

    </div>
    <script src="{{.AssetBaseURL}}/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{.AssetBaseURL}}/dist/js/main.js"></script>
    {{block "js" .}}{{end}}
</body>

</html>
{{end}}